:root {
    --pink: #000000;
    --bg: #0a0a0a;
    --shadow: 0 1px 2px rgb(0 0 0/ 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}
.hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/a.jpg);
    background-size: cover;
    z-index: -1;
    
}
.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h3, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}
.hero h3{
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.4rem;
}
.hero a{
    color: var(--pink);
    background-color: white;
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}
.logo{
    font-size: 1.2rem;
    margin-right: 50px;
    color: #fff;
    font-family: 'Sacramento', cursive;
}
nav{
    display: flex;
    background-color: #b8a70d;
    justify-content: space-around;
    padding: 5px 0;
    color: rgb(224, 192, 225);
}



nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

/* Media Query */
/* laptop */
@media (max-width: 992px){
    html{
       font-size: 75%;
    }
.simply-countdown>.simply-section {
    padding: 70px;
}
}

/* tablet */
@media (max-width: 768px){
    html{
        font-size: 65%;
     }
.simply-countdown>.simply-section {
    padding: 60px;
    margin: 5px;
}
}
/* mobile phone */
@media (max-width: 576px){
    html{
        font-size: 60%;
     }

.simply-countdown>.simply-section {
    padding: 45px;
    margin: 3px;
}
}
